@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif|Playfair+Display|Open+Sans+Condensed:300);

html,
body {
  font-family: "EB Garamond";
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-kerning: normal;
  color: #1a222f;
  background: #f4fff3;
}

p {
  line-height: 1.4em;
}

.quote {
  position: relative;
  letter-spacing: 0.03em;
  margin-bottom: 0.5rem;
}
.quote:before {
  content: "“";
  position: absolute;
  left: -0.7em;
}

.quote:after {
  content: "”";
  margin-right: -1rem;
}

.quote--container {
  margin: 4.5rem auto 0;
  width: 17em;
  border-bottom: 2px dotted #c6d1bf;
  padding-bottom: 0.5rem;
}

.quote--highlight {
  color: #d24335;
}

.movie--name {
  color: blue;
  font-weight: bold;
}

.quote--author {
  font-family: "Open Sans Condensed";
  font-size: 0.8rem;
  text-align: right;
  font-weight: 300;
}
